:root {
    --background: (168 11% 9%);
    --text: (192 8% 88%);
    --primary: (183 36% 53%);
    --secondary: (156 28% 60%);
    --accent: (12 70% 66%);
    --background-25: (168 11% 9% / .25);
    --background-50: (168 11% 9% / .5);
    --background-75: (168 11% 9% / .75);
    --background-90: (168 11% 9% / .9);
    --text-25: (192 8% 88% / .25);
    --text-50: (192 8% 88% / .5);
    --text-75: (192 8% 88% / .75);
    --text-90: (192 8% 88% / .9);
    --primary-25: (183 36% 53% / .25);
    --primary-50: (183 36% 53% / .5);
    --primary-75: (183 36% 53% / .75);
    --primary-90: (183 36% 53% / .9);
    --secondary-25: (156 28% 60% / .25);
    --secondary-50: (156 28% 60% / .5);
    --secondary-75: (156 28% 60% / .75);
    --secondary-90: (156 28% 60% / .9);
    --accent-25: (12 70% 66% / .25);
    --accent-50: (12 70% 66% / .5);
    --accent-75: (12 70% 66% / .75);
    --accent-90: (12 70% 66% /.9);
    --text-header: "Crimson Pro", serif;
    --text-body: "Montserrat", sans-serif;
}
